
.idea/workspace.xml
.DS_Store
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
*.xml
.idea/pygames.iml
build/.DS_Store
dist/.DS_Store
build/.DS_Store
.DS_Store
.DS_Store
